.CreateEvent {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    border: solid 0.5px #619393  ;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    /*margin-top: 20px;*/
    margin-bottom: 10px;
    margin-top: 10px;

    height: 40px;
    width: 200px;
    font-size: 15px;

}
.Event {
    cursor:pointer;
    border: solid grey 1px;
    border-radius: 10px;
    padding: 5px;

}
