.Hole {
    background: #EDF5F5FF;
}
.TopList {
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
 }
.Main {
      display: flex;
  }
.News {
    margin-top: 20px;
    width: 20%;
}

.RestList {
    display: flex;
    width: 80%;
}

