.Hole {
    display: flex;
    margin-left: 20px ;

}
.FavRest {
    width: 50%;
    border: solid 2px #619393;
    border-radius: 20px;
    padding: 5px;
}

.Account {
    composes: FavRest;

}
.To {
    cursor: pointer;
    display: flex;
    border: solid 0.5px #619393  ;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
    /*font-weight: bolder;*/
}

.ToAc {
    composes: To;
    justify-content: end;
}
/*.ToList {*/
/*    cursor: pointer;*/
/*    display: flex;*/
/*
/*    */
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin-left: 20px;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/

/*    height: 40px;*/
/*    width: 200px;*/
/*    font-size: 15px;*/

/*}*/
/*.Link {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/
