.NewsOnHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NewsListOnHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: darkslategrey solid 2px;
    padding-left: 10px;
}
.NewsInList {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}
.NewsListInList  {
    display: flex;
    flex-direction: column;
    margin: 10px;

}
