.UserInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Auth {
    composes: Auth from '../Header/HeaderStyle.module.css';
}
.Quit{
    composes: Auth from '../Header/HeaderStyle.module.css';
    cursor: pointer;
}
.User {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AvatarImg {
    height: 70px;
    width: 70px;
    border: 10px lightgrey solid;
    border-radius: 50%;
}
.Link {
    text-decoration: none;
    color: black;
}
