.Event {
    border: solid 2px #619393  ;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.CreateAnsw {
    composes: CreateCom from '../CommentsInRest/CommentsInRest.module.css';
}
