.Hole {
    margin: 20px;
}
.Title {
    font-family: cursive;
    color: darkslategray;
}
.Event {
    border: solid 2px #619393  ;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.CreateAnsw {
    composes: CreateCom from '../CommentsInRest/CommentsInRest.module.css';
}
