.Hole {
    display: flex;
    margin: 20px ;
}
.FavRest {
    width: 50%;
    border: solid 2px #619393;
    border-radius: 20px;
    padding: 5px;
}

.Account {
    margin-left: 10px;
    composes: FavRest;

}
.To {
    cursor: pointer;
    border: solid 0.5px #619393  ;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.ToAc {
    composes: To;
    display: flex;
    justify-content: flex-end;
}
