.To {
    cursor: pointer;
    display: flex;
    border: solid 0.5px #619393;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

