.Header {
    display: flex;
    background: #bbd5d5;
    align-items: center;
    justify-content: space-between;
}
.Brand {
    display: flex;
    flex-direction: row;
    font-family:cursive;
    font-size: 40px;
    color: darkslategrey;
}
.Title {
    margin-right: 10px;
}
.Left {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;

}
.Home {
    font-size: 20px;
    color: darkslategrey;
    font-weight:bold;
    margin-right: 5px;
}
.Pyyachok {
    font-size: 20px;
    color: darkslategrey;
    margin-left: 20px;
    border: solid 0.5px #619393 ;
    border-radius: 10px;
    background: #86aaaa;
    padding: 5px;

}
.Right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.Auth {
    margin: 2px;
    background: #bbd5d5;
    border: solid 0.5px darkslategrey;
    width: 250px;
    height: 30px;
    text-align: center;
    font-size: 15px
}
.Enter {
    composes: Auth;
    background: lightgrey;

}
.Link {
    text-decoration: none;
    color: black;
 }


