.Top {
    background: #d5eaea;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 12px;
}
.Title {
    margin-left: 20px;
    margin-top: 20px;
    background: transparent;
}
.CardBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
